{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive
    ?
    : grav.config.site.default_lang)|e }}">
  <head>
    {% block head %}
      <meta charset="utf-8" />
      <title>
        {% if header.title %}
          {{ header.title|e }} |
        {% endif %}{{ site.title|e }}
      </title>

      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      {% include 'partials/metadata.html.twig' %}

      <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://images/favicon/apple-touch-icon.png')|e }}" />
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://images/favicon/favicon-32x32.png')|e }}" />
      <link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://images/favicon/favicon-16x16.png')|e }}" />
      <link rel="manifest" href="{{ url('theme://images/favicon/site.webmanifest')|e }}" />
      <link rel="mask-icon" href="{{ url('theme://images/favicon/safari-pinned-tab.svg')|e }}" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <link rel="canonical" href="{{ page.url(true, true)|e }}" />
    {% endblock %}

    {% block stylesheets %}
      {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}

    {% block javascript %}
      {% do assets.addJs('theme://js/main.js', 98) %}
    {% endblock %}

    {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
    {% endblock %}
  </head>
  <body id="top" class="{{ page.header.body_classes|e }}">
    {% block body %}
      <main class="grid-container">
        <div class="main">
          
          <img src="{{ page.header.splash.image|first.path }}" alt="{{page.header.splash.alt}}"/>
          <div class="main-grid-container">
            <header>
              <div class="benjamin-paulus-stamp-container">
                <img class="benjamin-paulus-stamp"
                  src="{{ url('theme://images/bp_stamp.svg') }}"
                  alt="Benjamin Paulus Stamp" />
              </div>
              <div class="benjamin-paulus-title-container">
                <img class="benjamin-paulus-title"
                  src="{{ url('theme://images/bp_title.svg') }}"
                  alt="Benjamin Paulus: Concept Art, Illustration, Storytelling, Graphic Design." />
              </div>
              <div class="social">
                {% for social in page.header.social %}
                  <div class="social-btn rotate-in-2-cw">
                    <a href="{{ social.url }}" target="_blank" rel="noreferrer noopener">
                      <img src="{{ social.image|first.path }}"
                      alt="{{ social.alt }}" />
                    </a>
                  </div>
                {% endfor %}
              </div>
              <div class="scroll skip-link">
                <img class="scroll-btn"
                  src="{{ url('theme://images/bp_scroll_down.svg') }}" alt="Scroll Down"/>
              </div>
            </header>
          </div>
        </div>
        <div class="paganini">
          <div class="paganini-visual">
            <div class="paganini-visual-snow"><img src="{{ url('theme://images/bp_paganini_snow.png') }}" alt="Paganini Visual Snow" /></div>
            <div class="paganini-visual-wicked-twister"><img src="{{ url('theme://images/bp_paganini_wicked_twister.png') }}" alt="Paganini Visual Wicked Twister" /></div>
          </div>
          <div class="paganini-logo">
            <img src="{{ url('theme://images/bp_paganini_logo.svg') }}" alt="Paganini" />
          </div>
          <div class="paganini-patreon">
            <p>Help us make awesome comics!<br />
            Become a Paganini Comics Patreon!</p>
          </div>
          <div class="paganini-social">
              {% for social in page.header.paganini.social %}
                <div class="social-btn rotate-in-2-cw">
                  <a href="{{ social.url }}" target="_blank" rel="noreferrer noopener">
                    <img src="{{ social.image|first.path }}"
                    alt="{{ social.alt }}" />
                  </a>
                </div>
              {% endfor %}
            </div>
        </div>
        <div class="paganini-projects">
          {% for project in page.header.paganini.projects %}
            {% set append %}
              {% if loop.first %}
                active
              {% else %}
                queue
              {% endif %}
            {% endset %}
            <div class="paganini-project-image {{ append }}">
              <img src="{{ project.project|first.path }}" alt="{{ project.alt }}" />
            </div>
          {% endfor %}
        </div>
        <div class="footer">
          <div class="contact">
            CONTACT:
          </div>
          <div class="cv">
            <a href="{{ page.header.footer.cv|first.path }}" target="_blank" rel="noreferrer noopener">
              <img src="{{ url('theme://images/download-cv.png') }}" alt="Download Curriculum vitae" />
            </a>
          </div>
          <div class="social footer-social">
            {% for social in page.header.social %}
              <div class="social-btn rotate-in-2-cw">
                <a href="{{ social.url }}" target="_blank" rel="noreferrer noopener">
                  <img src="{{ social.image|first.path }}"
                  alt="{{ social.alt }}" />
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="halley-interactive">
            <a href="https://www.halley-interactive.com" target="_blank" rel="noreferrer noopener">
              <img src="{{ url('theme://images/halley-interactive-logo.png') }}"
              alt="Halley Interactive" />
            </a>
          </div>
          <div class="footer-visual">
            <img src="{{ url('theme://images/footer-visual.png') }}"
            alt="Footer Visual" />
          </div>
        </div>
      </main>
    {% endblock %}

    {% block bottom %}
      {{ assets.js('bottom')|raw }}
    {% endblock %}
  </body>
</html>
